.sidebar {
  width: 80%;
  height: 100%;
  background: #04070a;
  padding: 1.25rem;
  padding-bottom: 0;
  color: #fff;  
}

.sidebar .logo {
  font-size: 1.1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.75rem 0.6rem;
  margin: 0.5rem 0;
  cursor: pointer;
  border-radius: 0.4rem;
  transition: 0.3s;
}

.sidebar li:hover {
  background: #1e293b;
}

.sidebar .active {
  background: #1d4ed8;
}

.sidebar li a {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  color: inherit;
  text-decoration: none;
  width: 100%;
}
