.dashboard-container {
  background-color: rgb(12, 16, 53);
  display: flex;
  width: 100vw;
  height: 100vh;
}

.sidebar-container {
  width: 5vw;
  height: 100vh;
}

.pages-container {
  width: 95vw;
  height: 100vh;
  overflow-y: auto;
}

.sidebar a {
  text-decoration: none;
  display: flex;
  align-items: center;
}
